<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="slng.fnord">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignInActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.WelcomeHomeOwner"
            android:parentActivityName=".Activities.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.WelcomeAdministrator"
            android:parentActivityName=".Activities.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.WelcomeServiceProvider"
            android:parentActivityName=".Activities.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.CreateService"
            android:parentActivityName=".Activities.WelcomeAdministrator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WelcomeAdministrator" />
        </activity>
        <activity
            android:name=".Activities.DeleteService"
            android:parentActivityName=".Activities.WelcomeAdministrator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WelcomeAdministrator" />
        </activity>
        <activity
            android:name=".Activities.ViewService"
            android:parentActivityName=".Activities.WelcomeAdministrator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WelcomeAdministrator" />
        </activity>
        <activity
            android:name=".Activities.EditServicesSelect"
            android:parentActivityName=".Activities.WelcomeAdministrator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.WelcomeAdministrator" />
        </activity>
        <activity
            android:name=".Activities.EditService"
            android:parentActivityName=".Activities.EditServicesSelect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.EditServicesSelect" />
        </activity>
        <activity android:name=".Activities.SPViewProfile" />
        <activity android:name=".Activities.SPEditProfile" />
        <activity android:name=".Activities.SPAddService" />
        <activity android:name=".Activities.SPDeleteService" />
        <activity android:name=".Activities.SPViewService" />
        <activity android:name=".Activities.SPAddAvailability" />
        <activity android:name=".Availability" />
        <activity android:name=".SearchSP" />
        <activity
            android:name=".HOviewSP"
            android:label="@string/title_activity_hoview__sp" />
        <activity
            android:name=".Activities.HOServiceProfile"
            android:label="@string/title_activity_ho_service_profile" />
        <activity android:name=".Activities.HOBookService" />
        <activity
            android:name=".Activities.HOBookingList"
            android:label="@string/title_activity_hobooking_list" />
        <activity android:name=".Activities.HOBookingReview"></activity>
    </application>

</manifest>