<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="slng.fnord">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.Shared.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Shared.SignInActivity"
            android:parentActivityName=".Activities.Shared.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Shared.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.Shared.RegisterActivity"
            android:parentActivityName=".Activities.Shared.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Shared.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.HomeOwner.Welcome"
            android:parentActivityName=".Activities.Shared.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Shared.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.Admin.Welcome"
            android:parentActivityName=".Activities.Shared.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Shared.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.ServiceProvider.Welcome"
            android:parentActivityName=".Activities.Shared.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Shared.SignInActivity" />
        </activity>
        <activity
            android:name=".Activities.Admin.CreateService"
            android:parentActivityName=".Activities.Admin.Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Admin.Welcome" />
        </activity>
        <activity
            android:name=".Activities.Admin.ViewService"
            android:parentActivityName=".Activities.Admin.Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Admin.Welcome" />
        </activity>
        <activity
            android:name=".Activities.Admin.EditServicesSelect"
            android:parentActivityName=".Activities.Admin.Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Admin.Welcome" />
        </activity>
        <activity
            android:name=".Activities.Admin.EditService"
            android:parentActivityName=".Activities.Admin.EditServicesSelect">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Admin.EditServicesSelect" />
        </activity>
        <activity android:name=".Activities.ServiceProvider.ViewProfile" />
        <activity android:name=".Activities.ServiceProvider.AddService" />
        <activity android:name=".Activities.ServiceProvider.ViewServices" />
        <activity android:name=".Activities.ServiceProvider.Availability" />
        <activity android:name=".Availability" />
        <activity android:name=".SearchSP" />
        <activity
            android:name=".HOviewSP"
            android:label="@string/title_activity_hoview__sp" />
        <activity
            android:name=".Activities.HomeOwner.ServiceProfile"
            android:label="@string/title_activity_ho_service_profile" />
        <activity android:name=".Activities.HomeOwner.BookService" />
        <activity
            android:name=".Activities.HomeOwner.BookingList"
            android:label="@string/title_activity_hobooking_list" />
        <activity android:name=".Activities.HomeOwner.BookingReview"></activity>
    </application>

</manifest>